* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    /* overflow hide the extra spaces */
    /* overflow: hidden;      */
}

.box {
    /* border: 2px solid rgb(237, 207, 167); */
    border-radius: 20px;      
    width: 400px;
    /* height: fit-content; */
    margin: auto;
    margin-top: 100px;
    text-align: center;
    padding: 50px 30px;
    font-family: Helvetica;

    /* box-shadow is used to give shadow, make color blur, color spread */
    box-shadow: 3px 3px 7px rgba(181, 160, 127, 0.3),
        -3px -3px 7px rgba(132, 181, 127, 0.3);
}

.box img {
    width: 100px;
    height: 100px;
    object-position: top;

    /* used for fit any text or image in the specified container/ object */
    object-fit: cover;   
    /* object-fit: contain; */   
    border-radius: 50%;
}

.box h1 {
    text-shadow: 1px 1px 3px rgba(5, 5, 5, 0.3);
    font-size: 40px;
    margin: 20px 0;
    color: rgba(202, 177, 143, 1);
    font-weight: 900;
    line-height: 40px;
}

.box h1 span {
    font-size: 30px;
    text-decoration: underline;
}

.box p {
    margin: 30px 0;
    color: rgba(136, 118, 96, 0.579);
    /* text-align: justify; */
}

.box button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(237, 207, 167, 0.579);
    border: none;
    color: rgb(158, 137, 110);
    font-size: 17px;
}

.back {
    width: 200px;
    height: 200px;
    background-color: red;
}
.back1 {
    width: 200px;
    height: 200px;
    /* background: linear-gradient(to bottom right, tomato, rgb(211, 20, 20)); */
    /* background: radial-gradient(yellow, orange, red); */
    background-image: url(https://images.unsplash.com/photo-1703747269814-769250ef0568?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}